:root {
  --primary-color: #363062;
  --black: #000000;
  --light: #f7f7f7;
}

body {
  background-color: var(--light);
  color: var(--black);
}

.text-primary {
  color: var(--primary-color) !important;
}

.btn-primary {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-outline-primary {
  color: var(--primary-color);
  border-color: var(--primary-color);
}
