<div class="row align-items-center">
  <div class="col-md-6 text-start">
    <h1 class="fw-bold display-2">
      New Way To <br />
      Empower Your <br />
      <span class="text-primary">Voice</span>
    </h1>
    <p class="text-muted mt-3">
      Lorem ipsum dolor sit amet consectetur. Blandit et molestie ut id.
      Amet sed nisl in sed.
    </p>
    <div class="mt-4">
      <a class="btn btn-outline-primary me-2" routerLink="/login">Login</a>
      <a class="btn btn-primary" routerLink="/register">Register</a>
    </div>
  </div>

  <div class="col-md-6 text-center mt-4 mt-md-0">
    <img
      src="assets/images/Voting-rafiki.svg"
      alt="Hero Image"
      class="img-fluid"
      style="max-height: 600px"
    />
  </div>
</div>
